@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300);
/* -------------------
	GLOBAL
--------------------*/
body{
	font-family: 'Open Sans', sans-serif;
}

/* -------------------
	LOGIN PAGE
--------------------*/
.login-page-center-box{
	max-width: 800px;
	margin: auto;
	width: 80%;
}
.login-body{
	padding-top:5%;
	background : url( '../images/assets/background.jpg' );
	background-size: 100%;
}
.login-welcome{
	color: #56350A;
	font-size: 56px;
	text-align: center;
	font-weight: 300;
}

.login-main-logo img{
	width : 80%;
}
.login-panel{
	margin:5% auto;
	background: white;
	border-radius: 5px;
	padding: 1%;
}

.login-panel div{
	margin: 3% 7%;
}
.login-panel hr{
	width:85%;
	margin:2% auto;
}
.login-panel input{
	width: 100%;
	border: none;
	font-size: 2.3em;
	line-height: 150%;
	font-weight: 300;
	padding:3%;
}
.login-panel .login-button{
	background: #E27E30;
	border-radius:1.5%;
}
.login-button{
	background: #E27E30;
	font-size: 3em;
	color: #EFEADC;
	font-weight: bold;
	padding: 2% 10%;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 2px 4px #444;
}
.login-remember{
	text-align: left;
	white-space: nowrap;
	margin:5% 0;
}
.login-remember input{
	width:30px;
	height: 30px;
	float:left;
}
.login-remember span{
	font-weight:300;
	margin-left:2%;
	color: #56350A;
	font-size:2em;
	text-align:left;
	line-height:120%;
}
/* .login-remember input::after{
	content: '';
	border: 3px solid #B1C12A;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: block;
}
 */
.login-form-group{
	width:70%;
	margin-left:auto;
	margin-right:auto;
}
@media (max-width: 724px) {
    .login-welcome {
        font-size: 23px;
    }
    .login-panel input,.login-button{
    	font-size: 1.2em;
    }
    .login-panel,.login-button{
    	border-radius: 2px;
    }
    .login-remember span{
    	font-size:1.3em;
    	line-height: 200%;
    }
}
/* -------------------
	app
--------------------*/

body.app{
	background : #EFEADC;
}

.container{
	width:100%;
}
.navbar-stocket{
	background-color: #B1C12A;
	border-color: #888;
}

.navbar-stocket .navbar-brand{
	color: #EFEADC;
	font-size:2em;
	font-weight: bold;
}


.navbar-stocket .navbar-toggle {
	border-color: transparent;
}
.navbar-stocket .navbar-toggle .icon-bar {
	background-color: #EFEADC;
}

.navbar-stocket .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color: #E27E30; /*active*/
	background-color: inherit; 
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #E27E30; /*active*/
}
.navbar-inverse .navbar-nav>li>a {
	color: #EFEADC;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #E27E30;
}

.navbar-stocket .nav>li:after{
	border-top:1px dashed #E27E30;
	content:'';
	width:100%;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
	margin-left: 5px;
	margin-right: 5px;
}
.nav-constant {
	width: 28px;
	font-size: 25px;
	margin-top: -7px;
}

.navbar-collapse.collapsing, .navbar-collapse.collapse.in{
	clear:both;
}

